html {
    font-size: 62.5%;
}

* {
    
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
}

header {
    
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(3, 20, 11, 0.5);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: block;
}

body {
    background-image: url('/trabalhoFinal/images/background.png');
    min-height: 100vh;
    background-size: cover;
    perspective: 1000px;
}

.container {
    margin-right: auto;
    margin-left: 0rem;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

/* Logo */
.logo img {
    height: 6rem;
    margin-left: 0rem;
    margin-top: 0rem;
}

.logo a {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.logo a:hover {
    color: rgb(187, 159, 0);
}

/* Menu */
.menu ul {
    list-style: none;
    display:flex;
    gap: 3rem;
    
}

.menu a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    color: #fff;
    transition: 0.3s;
    
}

/* Hover */
.menu a:hover {
    color: #ffd900;
    transform: translate(7px, -7px);
    
}

.nomeContinente {
    margin-right: auto;
}

/* .topo {
    
    
} */

.voltar {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight:bolder;
    margin: 2rem;
    margin-left: 10rem;
    display: flex;
}

.voltar a {
    color:rgba(40, 78, 58, 0.95);
    text-decoration: none;
}

.voltar a:hover {
    color:rgba(40, 78, 58, 0.95);
    text-decoration: underline rgb(187, 159, 0, 0.6);
    text-shadow: 0 2px 10px rgba(255,215,0,0.2);
}

.voltar i {
    margin-right: 1.5rem;
    color:rgb(187, 159, 0);
}

.voltar i:hover {
    text-shadow: 0 2px 10px rgba(255,215,0,1);
}

.info-continente {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}

.info-continente h2 {
    font-size: 8rem;
    letter-spacing: 0.1rem;
    text-align: left;
    margin-left: 2rem;
 }

 .info-continente p {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;
    margin-left: 3rem;
 }

.iconeContinente {
    background-color: rgba(3, 20, 11, 0.95);
    width: 12.75rem;
    height: 12.75rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 8rem;
}

.iconeContinente img {
    width: 15rem;
    height: 15rem;
    display: flex;
    
    
}
.secao {
    max-width: 170rem;
    margin: 0 auto;
    padding: 0 2rem;
}



.informativo-europa {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    
}

#info-europa {    
    display: flex;
    align-items: center;
    padding: 0rem 5rem;
    margin-top: 0rem;

}



.informativo-europa img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-right: 1rem;
}

.informativo-europa h4 {
    font-size: 3rem;
    
}

.linha-topo { 
    
width: 100%;
    height: 2px;
    background: linear-gradient(to right, 
        transparent, 
        rgba(36, 82, 36, 0.5), 
        transparent
    );
    border: none;
    margin: 0rem 0;


}


.grid {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    gap: 2.5rem;
    width: 100%;    
}





#grid-secao {
    background-color: rgba(3, 20, 11, 0.5);
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(255,215,0,0.5);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
    margin-top: 0rem;
}

.card {
    font-family: arial;
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 8rem 1fr;
    gap: 1.5rem;
    align-items: center;
    border: 0.1rem solid rgba(43, 44, 44, 0.9);
    border-radius: 1.5rem;
    transition: 0.5s;
     background: linear-gradient(to right, 
        transparent, 
        rgba(11, 27, 18, 1), 
        transparent
    );
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: translate(2px, -2px);
   
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(15deg, transparent, rgba(138, 118, 4, 0.2), transparent);
    transition: 0.2s;
}

/* reflexo */
.card:hover::before {
    left: 100%;
}

.topo-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2rem;
}

.card h3 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

.card p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    padding-top: 1rem;
}




.iconePais {
    margin: 2rem;
    
    
}

.iconePais img {
    width: 6.4rem;
    height: 6.4rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
}


.card_botao {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    
    align-self:flex-start ;
      
    position: relative;
    overflow: hidden; 
    
    border: none;
    background: none;
    cursor: pointer;
    
    color: white;
    transition: 0.1s;
    
}

.separador-card {
    grid-column: 1 / -1;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, 
        transparent, 
        rgba(255,215,0,0.8), 
        transparent
    );
    border: none;
    margin: 0rem 0;    
}


.btncard {
    grid-column: 1 / -1;
    display: flex;
    padding-bottom: 1rem;
    padding-left: 2rem;
    
    
}

.card_botao:hover {
    transform: translate(1px,-2px);
    color: #fff;
}

.card_botao i {
    color: rgba(255,215,0,1);
    margin-left: 10px;
}

.card_botao:hover i {
    color: rgb(4, 83, 38);
    margin-left: 10px;
}

.linha { 
    
width: 100%;
    height: 2px;
    background: linear-gradient(to right, 
        transparent, 
        rgba(255,215,0,0.5), 
        transparent
    );
    border: none;
    margin: 0rem 0;


}

.separador {
    padding: 1.5rem 0;
}

#secao-informativo-continentes {
    border: 0.1rem solid rgba(3, 20, 11, 0.95);
    border-radius: 1.5rem;
    background-color: rgba(3, 20, 11, 0.5);
    box-shadow: 0 2px 10px rgba(255,215,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 2rem 5rem;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 2rem;
}

#secao-informativo-continentes h3 {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    
}

#secao-informativo-continentes p {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: justify;
    margin-top: 2rem;
}

.ancora-topo {
    padding-bottom: 3rem;
    padding-left: 1rem;
}

.ancora-topo img {
    background-color: #fff;
    align-items: start;
    border-radius: 50%;
}

.ancora-topo img:hover {
    background: linear-gradient(250deg, rgb(255,215,0, 1),  rgb(255, 255, 255));
}

.ancora-topo a {
    display: flex;
    align-items: end;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #fff;
}